.dialog_outer_ncenter {
    box-sizing: border-box;
    display: flex;
    padding: 6.5rem 3rem;
    line-height: 16px;
    overflow: hidden;
}

.image{
    height:60%;
    border:0.5rem solid;
    border-top-width:3rem;
    border-color:dimgray;
}

.result {
    line-height: 2rem;
    margin: 0 2rem;
    margin-bottom: 1.25rem;
}

.inset{
    margin: 0.5rem 2rem;
    font-size:1.25rem;
}

.inset.desc {
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    text-align: justify
}


.headline{
    margin: 3rem 0 6px 0;
}

.link{
    font-size:1.1rem
}

.insetLink {
    font-size: 1.1rem;
    margin: 1rem 2rem
}

.table{
    border-width:0.2rem;
    border-style:solid;
    text-align:center;
    font-size:2rem;
}

    .table.inner {
        border-width: 0.2rem;
        border-style: solid;
        font-size: 1.4rem;
    }

.usk{
    margin-left:0.8rem;
}

.dialog_outer_ncenterflex {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    padding: 6.5rem 3rem;
    line-height: 16px;
    overflow: hidden;
    text-align: center
}

.hardware {
    font-size: 1.1rem;
    margin: 0.5rem 2rem;
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    text-align: justify
}

.unscroll {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

/*
.rating{
    height:2rem;
    width:8rem;
    background-color:white;
}
.rating.font{
    font-size:3rem
}
.rating.head{
    font-size:2rem
}
*/
